* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body, #root {
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FEC601;
    padding: 1.2rem 2.5rem;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 8rem;
        padding-left: 8rem;
    }
}

h1 {
    text-align: center;
    color: #000;
    font-size: 3rem;
}

a {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.navbar-toggler {
    justify-content: flex-end;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.iconify--emojione {
    font-size: 3rem;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
}

main {
    flex-grow: 2;
}

.titulo-cargando {
    margin: 0 auto;
    font-size: 4rem;
}

.container-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container-btns p {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: bolder;
    background-color: #FEC601;
    padding: 2px 12px;
}

.btn-cart {
    border: none;
    padding: 5px 15px;
    font-size: 1.4rem;
}

.btn-contador {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border: solid 1px #3b3b3b;
}

.btn-contador:hover {
    background-color: #3b3b3b;
    color: #fff;
    transition: ease .2s;
}

.btn-agregar {
    background-color: green;
    color: #fff;
    font-weight: bold;
}

.btn-verMas {
    background-color: #FEC601;
}

.btn-verMas:hover {
    background-color: #3b3b3b;
}

.btn-verMas a {
    color: #3b3b3b;
    font-weight: bolder;
}

.btn-verMas:hover > a {
    color: #FEC601;
    transition: ease .2s;
}

#contenedor_productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.card_productos { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.img-producto {
    height: 250px;
    width: 300px;
    margin-bottom: 30px;
}

.info_producto {
    text-align: center;
    font-size: 2rem;
}
.producto_descripcion {
    text-transform: uppercase;
    font-weight: 700;
}

.irCarrito {
    background-color: #fff;
    border: 1px solid #FEC601;
    padding: 3px 15px;
}

.irCarrito:hover {
    background-color: #3b3b3b;
    border: none;
    transition: ease .3s;
}

.irCarrito a {
    color: #3b3b3b;
}

.irCarrito:hover > a {
    color: #FEC601;
    font-weight: bold;
}

.contador-carrito {
    font-size: 1.5rem;
    font-weight: bold;
}

.ir-inicio {
    text-decoration: none;
    border: solid 1px #FEC601;
    width: 40%;
    margin: 0 auto;
    padding: .8rem 1.5rem;
    color: #3b3b3b;
    font-size: 1.8rem;
}

.ir-inicio:hover {
    background-color: #3b3b3b;
    color: #FEC601;
}

.elementos-carrito {
    flex-direction: column;
    width: 100vw;
    gap: 2rem;
    padding: .8rem 1.5rem
}

.elementos-carrito:nth-of-type(even) {
    background-color: #FEC601;
}

@media (min-width: 992px) {
    .elementos-carrito {
        flex-direction: row;
    }
}

.parrafo-carrito {
    font-size: 1.8rem;
}

.parrafo-carrito span {
    font-weight: bold;
}

.icon-delete {
    font-size: 2rem;
    cursor: pointer;
}
footer {
    background-color: #FEC601;
    padding: 2rem;
}

footer p {
    font-size: 2rem;
    text-align: center;
}

footer p a {
    color: #000;
    
}

footer p a:hover {
    color: #fff;
    background-color: #3b3b3b;
    padding: .5rem 1rem;
    transition: ease .3s;
    border-radius: 50px;
}